.slider {
    width: 1000px;
    min-height: 250px;
    height: 250px;
    position: relative;
    top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .slider__window {
        width: 400px;
        height: 250px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: start;

        .window__img_full{
            position: fixed !important;
            min-width: 100vw !important;
            min-height: 100vh !important;
            background-color: black;
            z-index: 1;
            transform: translateX(0) !important;
            top: 0;
            left: 0;
        }

        .window__img {
            min-width: 100%;
            min-height: 100%;
            border-radius: 5px;
            transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
            display: grid;
            place-items: center;
            position: relative;

            .img__image {
                border-radius: 5px;
                object-fit: contain;
            }

            @mixin ButtonSwipe ($left, $right) {
                position: absolute;
                left: $left;
                right: $right;
                width: 30px;
                height: 40%;
                background-color: rgba(255, 0, 0, 0);
                z-index: 2;
                font-size: 50px;
                color: white;
                font-weight: 100;
                border: none;
                cursor: pointer;
                opacity: 0.7;
                z-index: 2;

                &:hover {
                    color: aqua;
                }

                &:active {
                    opacity: 1;
                }

                &:focus-visible {
                    outline: 1px solid rgba(0, 255, 255, 0.259);
                }
            }

            .img__button_left {
                @include ButtonSwipe(-10%, none);
            }

            .img__button_right {
                @include ButtonSwipe(none, -10%);
            }

            @mixin ButtonViewImg ($img, $bottom, $right, $size) {
                width: $size;
                height: $size;
                position: absolute;
                bottom: $bottom;
                right: $right;
                z-index: 1;
                background-image: url("/images/#{$img}.png");
                background-size: 100% 100%;
                background-color: black;
                border-radius: 10%;
                border: 1px solid white;
                opacity: 0.7;
                transition: scale 0.3s ease;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }

                &:focus-visible {
                    opacity: 1;
                    outline: 2px solid black;
                }

                &:active {
                    scale: 0.9;
                }
            }

            .image__button_open {
                @include ButtonViewImg(fullScreen, 5px, 5px, 30px);
            }

            .image__button_close {
                @include ButtonViewImg(screen, auto, 2%, 60px);
            }
        }
    }
}

@media (width < 1200px) {
    .slider {
        width: 800px;
        min-height: 200px;
        height: 200px;

        .slider__window {
            width: 320px;
            height: 200px;
        }
    }
}

@media (width < 1040px) {
    .slider {
        top: 50px;
        margin-bottom: 50px;
    }
}

@media (width < 900px) {
    .slider {
        width: 600px;
    }
}

@media (width < 650px) {
    .slider {
        width: 400px;
        min-height: 150px;
        height: 150px;

        .slider__window {
            width: 240px;
            height: 150px;

            .window__img {
                .img__button_left {
                    font-size: 30px
                }

                .img__button_right {
                    font-size: 30px;
                }
            }
        }
    }
}