@font-face {
    font-family: 'Oswald';
    src: url(/fonts/Oswald/Oswald-VariableFont_wght.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Capture Smallz';
    src: url(/fonts/CaptureSmallz/capturesmallz.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Piksieli Prst';
    src: url(/fonts/PiksieliPrst/piksieli_prst_fix_by_chzshrft.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EasyFontSteel';
    src: url(/fonts/EasyFontSteel/easyfontsteel.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TrueTypeWriter PoliglOTT';
    src: url(/fonts/TrueTypeWriterPoliglOTT/TruetypewriterPolyglOTT.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Papyrus';
    src: url(/fonts/Papyrus/Papyrus.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}